/* Targeting all anchor elements */
a {
    /* Styles for anchor elements */
}

/* Targeting anchor elements containing hyperlinks */
a[href] {
    /* Styles for anchor elements containing hyperlinks */
}

/* Targeting visited state for the link */
a[href]:visited {
    /* Italicize the text */
    font-style: italic;
}

/* Targeting hover state for the link */
a[href]:hover {
    /* Decorate links with an underline when hovering */
    text-decoration: underline;
}

/* Targeting active state for the link */
a[href]:active {
    /* Set background color using variable color-light-grey */
    background-color: var(--color-light-grey);
}
